/* Untuk menghapus margin dan padding bawaan browser pada semua elemen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ini yang terpenting! */
}




.Class-navbar{
background-image: linear-gradient(to bottom, rgb(229, 224, 224), rgba(255, 255, 255, 0.227));
width: 100%;
height: 15vh;   
position: fixed;
top: -20px;
z-index: 1000;
padding-top: 20px;
padding-bottom: 20px;
transition: transform 0.3s ease-in-out; 
}

.ul-navbar{
  
   display: flex;   
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
  
}

.li-navbar{
    justify-content: center;
    list-style-type: none;
    color: rgb(0, 0, 0);    
    padding: 10px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 40px;
    margin-top: 15px;
    
}

.li-navbar:hover{
    background-color: rgba(12, 173, 242, 0.373);
    transition: ease-in-out .2s ;    
    border-radius: 20px;
}

.a-navbar{
    color: rgb(0, 0, 0);    
    text-decoration:none      
        
}

.navbar-hidden{
  transform: translateY(-60%); 
}


.content-1 {
background-color: rgb(251, 255, 251);
width: 100%;
height: 150px;
}

.bantuan-content1 {
height: 10%;
width: auto;
}

.border-tulisan {

  margin:  auto; 
  max-width: 1200px;
  padding: 2em; 
  border: 3px  solid rgb(255, 0, 0);
  border-radius: 10px;
  margin-bottom: 10%;
  box-shadow: 
   -10px 0 30px -10px rgba(255, 0, 0, 0.359), 
    10px 0 30px -10px rgba(3, 3, 3, 0.467);


}


.hero-section {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0; 
    margin-top: 20px;
}

.hero-content {
    width: 65%; 
    margin-left:50px; 
    font-family: 'Poppins', sans-serif;
}
.isian-perkenalan {
font-family: 'poppins', sans-serif;
}


h1{

font-size: 4rem;

}

.paragraf-perkenalan {
font-size: 30px;
font-style:normal;
margin-right: 10px;

}



.hero-image {
    width: 40%;      
}

.foto1{
  
  max-width: 400px; 
  height: auto;
  width: 100%;
}

.hero-image img{

border-radius: 30px;
margin-left: 10px;

}


.bantuan-content2{
  width: 100%;
  height: 100px;
   background-image: linear-gradient(to bottom,#ffffff,#dbe1e4);
}


/*=============================== PROJECTS SECTION ========================================== */

.section-projects {
    background-color:  #dbe1e4;
    width: 100%;
    height: 1400px; 
    padding: 20px 50px; /* kasih jarak atas & kiri */
}


#projects-page {
    margin-top: 40px;
  display: flex;
  flex-wrap: wrap;  
  gap: 30px;        
  justify-content: center; 
  align-items: center;
 

}

.id-project{
font-size: 2em;
color: #00000012;
}


/* Tulisan Projects  */
h2 {
 margin-left: 10%;
 /* padding-top: 50px; */
 font-family: 'Nunito Sans', sans-serif;
   display: inline-block;
  font-size: 4rem;
  font-weight: 700; 
 
}


.Cover-Bingkai_gambar{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  overflow: visible;
}

.Bingkai-gambar2 {
  width: 400px; 
  height: 300px;
  border: 3px solid rgba(128, 128, 128, 0.492);
  border-radius: 10px;
  overflow: hidden;       /* biar isi gak keluar border */
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-align: center;
  transition: 0.5s ease;

}

.Bingkai-gambar2 img {
  width: 100%;
  height: 260px;      
  object-fit: cover; 
  display: block;
}

.Bingkai-gambar2:hover {
  transform: translateY(10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.36);
  
}


.border-isian1{
  border: 2px solid rgba(95, 94, 94, 0.444);
  background-color: rgba(255, 255, 255, 0.492);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.173);
  border-radius: 10px;
  height: 680px;
  width: 1000px;
  font-family: 'Nunito', sans-serif;
  margin-right: 600px;
  margin-top: -5%;

  }


.border-isian2{
  border: 2px solid rgba(95, 94, 94, 0.444);
  background-color: rgba(255, 255, 255, 0.492);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.173);
    border-radius: 10px;
    height: 250px; 
    width: 700px;
    margin-right: 200px;
    margin-left: 150px;
    margin-top: -1150px;
    font-family: 'Nunito', sans-serif; 

}



.border-isian3{
  border: 2px solid rgba(95, 94, 94, 0.444);
  background-color: rgba(255, 255, 255, 0.492);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.173);
  border-radius: 10px;
  height: 150px;
  width: 600px;  
  font-family: 'Nunito', sans-serif; 
  margin-top: -1350px;
  margin-left: 800px; 
}


.desc{
 
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px); 
  transition: all 0.8s ease;
  position: relative; 
  pointer-events: none;
  
}

.desc.active{
  visibility: visible;
  opacity: 1;
  transform: translateY(0); 
  pointer-events: auto;
}



.contain-pbl1{
  font-size: 1.5em;
  font-family: 'poppins';
  margin-left: 15px;
  margin-right:30px;
  margin-top: 15px;
  text-align: center;
}

.contain-pbl2{

  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
  
}

.contain-pbl3{
  font-size: 2em;
  font-family: 'poppins', sans-serif;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  
}


.space-pbl1{
margin-top: 20px;
text-align: center;
font-size: 2em;
font-family: 'poppins';

}

.space-pbl2{
margin-top: 30px;
font-size: 1em;
margin-left: 10px;

}




.galeri-gambar-pbl-1{
  width: 100% !important;
  display: flex; /* Ini kunci untuk membuat gambar berjejer ke samping */
  gap: 20px; /* Memberi jarak antar gambar */
  justify-content:center; /* Menjajarkan gambar dari kiri */
  align-items: center; /* Menyelaraskan gambar ke tengah secara vertikal */

}

.galeri-gambar-pbl-2{
  display: flex; /* Ini kunci untuk membuat gambar berjejer ke samping */
  gap: 20px; /* Memberi jarak antar gambar */
  justify-content:center; /* Menjajarkan gambar dari kiri */
  align-items: center; /* Menyelaraskan gambar ke tengah secara vertikal */

}


.galeri-gambar2{
    display: flex; /* Ini kunci untuk membuat gambar berjejer ke samping */
    gap: 30px; /* Memberi jarak antar gambar */
    justify-content:center; /* Menjajarkan gambar dari kiri */
    align-items: center; /* Menyelaraskan gambar ke tengah secara vertikal */
    flex-wrap: wrap; /* Jika layar kecil, gambar akan turun ke bawah */
    padding: 10px;
 }


.wraping-all-semester-pbl{
 margin-top: 20px;
 width: 200px; /* Atur lebar wadah gambar agar seragam */
 height: 150px; /* Atur tinggi wadah gambar agar seragam */
 border-radius: 20px;
 overflow: hidden;
 position: relative;
 transition:  transform 0.3s ease, box-shadow 0.3s ease;
 margin-right: 25px;
 margin-left: 25px;

}

.wraping-all-semester-pbl::before {
    content: "See more..";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Mulai dengan transparan */

    /* GAYA UNTUK MENENGAHKAN TEKS */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
   
    font-size: 1em;
    font-family: 'Nunito', sans-serif; 
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);

    /* MENGATUR OPASITAS DAN VISIBILITAS */
    opacity: 0; /* Mulai dengan tidak terlihat */   
    visibility:visible; /* Sembunyikan sepenuhnya */
    transition: background-color 0.3s ease; /* Transisi untuk perubahan warna latar belakang */
}

.wraping-all-semester-pbl:hover::before {
    background-color: rgba(0, 0, 0, 0.8); /* Menjadi hitam transparan saat hover */
    opacity: .7; /* PASTIKAN ANGKA INI SATU */
    visibility: visible; /* Munculkan */
}



.wraping-all-semester-pbl:hover {
    /* Membuat gambar sedikit membesar */
    
    transform: scale(1.1);
    /* Menambahkan efek bayangan */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.373);
    cursor: pointer;
    
}

.wraping-all-semester-pbl img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Untuk memastikan gambar mengisi wadah */
    display: block;
}







.wraping-all-desain{
  margin-top: 20px;
 width: 200px; /* Atur lebar wadah gambar agar seragam */
 height: 150px; /* Atur tinggi wadah gambar agar seragam */
 border-radius: 20px;
 overflow: hidden;
 position: relative;
 transition:  transform 0.3s ease, box-shadow 0.3s ease;
}



.wraping-all-desain::before { 
    content: "See more..";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Mulai dengan transparan */

    /* GAYA UNTUK MENENGAHKAN TEKS */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
   
    font-size: 1em;
    font-family: 'Nunito', sans-serif; 
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);

    /* MENGATUR OPASITAS DAN VISIBILITAS */
    opacity: 0; /* Mulai dengan tidak terlihat */   
    visibility:visible; /* Sembunyikan sepenuhnya */
    transition: background-color 0.3s ease; /* Transisi untuk perubahan warna latar belakang */
}

.wraping-all-desain:hover::before {
    background-color: rgba(0, 0, 0, 0.8); /* Menjadi hitam transparan saat hover */
    opacity: .7; /* PASTIKAN ANGKA INI SATU */
    visibility: visible; /* Munculkan */
}



.wraping-all-desain:hover {
    /* Membuat gambar sedikit membesar */
    
    transform: scale(1.1);
    /* Menambahkan efek bayangan */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.373);
    
}

.wraping-all-desain img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}












.sem2-img{
width: 300px;
height: auto;

}
  
.Desain-section{

    width: 35%; /* Setiap gambar mengambil 45% lebar kontainer */
     height: 150px; /* Atur tinggi tetap untuk efek thumbnail yang seragam */
    
    /* Properti Tampilan */
    /*Penting! Ini akan mengisi tinggi 150px tanpa ruang kosong */
                       /* dan membuat gambar terlihat "terbingkai" rapi */
    border-radius: 20px; /* Agar sudutnya melengkung seperti di kotak PBL */
    margin: 5px; /* Memberi jarak di sekeliling gambar */
    
 
}







.project-text {
  padding: 10px;
}

.project-text h3 {
  font-size: 1.2rem;
  margin: 10px 0 5px;
  font-weight: bold;
}

.project-text p {
  font-size: 0.9rem;
  color: #444;
  margin: 0;
}

.huruf-PBL1 {

font-size: 1.7em;
font-family: 'Merriweather', sans-serif;
font-weight:600

}



.huruf-PBL2 {
font-size: 1.7em;
font-family: 'Merriweather', sans-serif;
font-weight:600

}

.huruf-PBL3 {
font-size: 1.7em;
font-family: 'Merriweather', sans-serif;
font-weight:600

}












.container-footer{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 10vh;
}

.h1-footer{
   font-size: 20px;
}










@media screen and (max-width: 1201px) {

  
.border-tulisan {
  max-width: 935px;
  padding: 2em; 
  border: 3px  solid rgb(255, 0, 0);
  padding-bottom: 100px;
  border-radius: 10px;
  margin-bottom: 10%;
  box-shadow: 
   -10px 0 30px -10px rgba(255, 0, 0, 0.359), 
    10px 0 30px -10px rgba(3, 3, 3, 0.467);

}

.foto1{
  margin-top: 30%;
  max-width: 400px; 
  height: auto;
  width: 100%;
}

.hero-image img{
border-radius: 30px;
margin-left: 10px;
}

.border-isian1{
  border: 2px solid rgba(95, 94, 94, 0.444);
  background-color: rgba(255, 255, 255, 0.492);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.173);
  border-radius: 30px;
  height: 780px;
  width: 800px;
  font-family: 'Nunito', sans-serif;
  margin-left: 55%;
  margin-top: -10%;
  }

  
.border-isian2{
  border: 2px solid rgba(95, 94, 94, 0.444);
  background-color: rgba(255, 255, 255, 0.492);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.173);
    border-radius: 30px;
    height: 250px; 
    width: 700px;
    margin-right: 200px;
    margin-left: 150px;
    margin-top: -1350px;
    font-family: 'Nunito', sans-serif;
}


  .border-isian3{
  border: 2px solid rgba(95, 94, 94, 0.444);
  background-color: rgba(255, 255, 255, 0.492);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.173);
  border-radius: 10px;
  height: 150px;
  width: 600px;  
  font-family: 'Nunito', sans-serif; 
  margin-top: -1500px;
  margin-left: 500px; 
}


  .section-projects {
    background-color:  #dbe1e4;
    width: 100%;
    height: 1600px; 
    padding: 20px 50px; 
}

.galeri-gambar-pbl-1{
  width: 100% !important;
  display: flex; 
  gap: 10px; 
  justify-content:center; 
  align-items: center; 
}

.galeri-gambar-pbl-2{
  display: flex; 
  gap: 20px; 
  justify-content:center; 
  align-items: center; 

}

.huruf-PBL1 {
font-size: 1.4em;
font-family: 'Merriweather', sans-serif;
font-weight:600
}
  

}


















